<div class="container">
  <% blogs.forEach(function(blog) { %>
  <div class="card">
    <img src="uploads/<%= blog.image %>" alt="<%= blog.title %>" />
    <div class="card-content">
      <h3><%= blog.title %></h3>
      <h4><%= blog.subtitle %></h4>
      <a href="/blogs/<%= blog.id %>">Read More</a>
    </div>
  </div>
  <% }); %>
</div>
